.banner {
    width: 100%;
    overflow: hidden;
}

.main-header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100;
    background-color: #E30019;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}

.main-header .container-xxl{
    display: grid;
    grid-template-columns: 15% 10% 40% 35%;
    align-items: center;
    justify-content: center;
}

.sub-header {
    width: 100%;
    padding: 10px 0;
}

.sub-header .container-xxl {
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.main-header .container-xxl > div {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-header .container-xxl button {
    cursor: pointer;
    font-size: 14px;
}

.sub-header {
    border-bottom: 1px solid #E0E0E0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.sub-header a{
    display: flex;
    height: 100%;
    font-size: 14px;
    text-decoration: none;
    padding: 0 30px;
    color: black;
    border-right: 2px solid #CFCFCF;
    align-items: center;
    justify-content: center;
    
}

.sub-header svg {
    margin-right: 8px;
}

.sub-header a:last-child {
    border-right: none;
}

.sub-header a:hover {
    color: #e30019;
}

.logo {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.logo img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.menu button {
    height: 100%;
    width: 90%;
    background-color: #BE1529;
    border: none;
    color: white;
    border-radius: 10px;
}

.searh {
    display: flex;
    border-radius: 10px;
    overflow: hidden;
}

.searh input{
    height: 100%;
    width: 90%;
    padding: 10px;
    border: none;
    font-size: 16px;
}
.searh input:focus {
    outline: none;
}

.searh button {
    height: 100%;
    width: 10%;
    background-color: white;
    border: none;
}

.searh button svg {
    width: 18px;
    height: 18px;
}

.services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin-left: 10px;
}

.services>div {
    height: 100%;
    width: 50%;
    display: flex;  
    align-items: center;
    justify-content: center;
    background-color: rgb(190, 21, 41);
    border-radius: 10px;
}

.services a{
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

.services svg {
    width: 20px;
    height: 20px;
    stroke: white;
    margin-right: 6px;
}

.services button {
    height: 90%;
    width: 90%;
    background-color: rgb(190, 21, 41);
    border: none;
    color: white;
}

.services *:hover {
    background-color: rgb(160, 16, 32);
    border-radius: 10px;
}

.menu *:hover {
    background-color: #a01020;
}

.menu-danh-muc {
  position: relative;
}

.button-danhMuc{
  border: none;
  background: rgb(190, 21, 41);
  color: white;
  padding: 10px 16px;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
}

.hop-menu {
  position: absolute;
  top: 190%;
  left: -200px;
  margin-top: 10px;
  display: none;
  z-index: 2000;
}

.hop-menu.mo {
  display: block;
}