* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #ececec;
}

.footer {
  height: 200px;
  width: 100%;
  background-color: violet;
}

.overlay{
  display: none;
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.overlay.mo {
  display: block;
}